* {
    margin: 0;
}

.title {
    background-color: #e6e6e6;
    border-top:2px solid #b3b3b3;
    border-bottom:2px solid #b3b3b3;
    margin: 5px 0;
}

.top {
    margin-top: 20px;
}

.header {
    background-color: #99CCFF;
    padding: 15px;
    position: fixed;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.ALL {
    padding-top: 100px;
}

.box {
    margin: 0 auto;
    width: 70%;
    border: 2px solid #DBDBDB;
    border-radius: 8px;
    background-color: #fff;
}

p {
    margin-left: 10px;
}

.BTN {
    width: 90%;
    margin: 0 5% 20px 5%;
    padding: 18px;
    border: none;
    border-radius: 8px;
    background-color: #005aae;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.BTN:hover {
    background-color:#004280;
}