.none {
    display: none;
}

.float {
    float: left;
}

.setumei {
    width: fit-content;
    margin-left: 615px;
}

.flex {
    display: flex;
}

.sonota {
    width: 500px;
    margin: 0 auto;
}

.sonota2 {
    width: fit-content;
    margin: 0 auto;
}

.sizeChangeStyle {
    width: 80px;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.piecesStyle {
    width: 160px;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.cart_btn {
    background: black;
    color: white;
    border: 1px solid;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.cart_btn:hover {
    background: white;
    color: black;
}

.cart_btn2 {
    background: black;
    color: white;
    border: 1px solid;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}

.cart_btn2:hover {
    background: white;
    color: black;
}

.sen {
    text-decoration: line-through; 
    text-align: center;
    padding: 3px;
    cursor: default;
}

.noCart {
    text-align: center;
}

.heartBtn {
    height:33px;
    margin:5px 5px 0 0;
    padding: 0;
    background: white;
    border: none;
}

.checkHeart {
    cursor: pointer;
}

.checkHeart,
.spanHeart {
    width: fit-content;
    display: block;
}

.checkHeart input {
    display: none;
}

.checkHeart input + .spanHeart::before {
    display: block;
    background-image: url("../img/heart2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 33px;
    position: relative;
    width: 33px;
  }

  .checkHeart input:checked + .spanHeart::before {
    background-image: url("../img/heart.png");
  }

.aBtn {
    color: #0000EE;
}
.aBtn:visited {
    color: #0000EE;
}