.all {
    display: flex;
    flex-wrap: wrap;
}

img {
    height: 200px;
}

.btn-img {
    border: 0px;
    margin-left: 5px;
    padding: 0;
    width:30px;
    height:30px;
    background: url(../img/musimegane.png) left top no-repeat;
    background-size: contain;
    cursor: pointer;
}

.none {
    display: none;
}

#search{
    width: 300px;
    height: 30px;
    padding: 0 10px;
    border-radius: 100px;
    border: 2px solid #000;
}

.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 80px 0;
}

.flexBox label {
    margin-right: 20px;
}

.flame {
    width: fit-content;
}

.productAll {
    padding: 20px;
}

.imgAll {
    background: #f5f5f5;
    text-align: center;
    height: 200px;
}

form {
    text-align: center;
}

.setumei {
    width: 300px;
}

a {
    text-decoration: none;
    color: black;
}