.btn-img {
    border: 0px;
    margin-left: 5px;
    padding: 0;
    width:30px;
    height:30px;
    background: url(../img/musimegane.png) left top no-repeat;
    background-size: contain;
    cursor: pointer;
}

#search{
    width: 300px;
    height: 30px;
    padding: 0 10px;
    border-radius: 100px;
    border: 2px solid #000;
}

.flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.flexBox label {
    margin-right: 20px;
}

.flame {
    width: fit-content;
}

