body {
    background-color: #f4f4f4;
}

section{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.blook{
    width: 100%;
}

.status-box{
        background-color: gray;
}

.status-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.status {
    display: inline-block;
    width: 100px;
    text-align: center;
    vertical-align: top;
    position: relative;
}

.check-button {
    opacity: 0.5;
    position: relative;
}

.check-button:checked {
    opacity: 1;
}

.check-mark {
    color: #4CAF50;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line {
    width: 400px; /* 水平線としての幅 */
    height: 2px; /* 垂直線としての高さ */
    background-color: #4CAF50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.status:first-child .line {
    display: none; /* 最初のステータスの前には線を表示しない */
}

.status:last-child .line {
    display: none; /* 最後のステータスの後ろには線を表示しない */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.textbox{
    text-align: center;
    margin: 102px;
    width: auto;
    padding: 50px;
}