body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #99CCFF;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

h2 {
    margin-top: 20px;
}

.status-box{
        background-color: gray;
}

.status-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.status {
    display: inline-block;
    width: 100px;
    text-align: center;
    vertical-align: top;
    position: relative;
}

.circle1{
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    margin: 0 25px;
}

.circle2{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 25px;
}

.circle3{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 25px;
}

.circle4{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 25px;
}


.line1 {
    width: 100px;
    height: 19px;
    background-color: #3498db;
    position: absolute;
    top: 25%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.line2 {
width: 400px;
    height: 19px;
    background-color: #ffffff;
    position: absolute;
    top: 25%;
    left: 170%;
    transform: translate(-50%, -50%);
}

.line3 {
    width: 300px;
    height: 19px;
    background-color: #ffffff;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line4 {
    width: 300px;
    height: 19px;
    background-color: #ffffff;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.status:first-child .line {
    display: none; /* 最初のステータスの前には線を表示しない */
}

.status:last-child .line {
    display: none; /* 最後のステータスの後ろには線を表示しない */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #005aae;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #004488;
}
